<!DOCTYPE html>
<html>
<head>
  <title><%= title%></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs %>

  <h3>About</h3>
  <p>Hi my name is <%= name %>, this is me testing express node.js :)</p>

</body>
</html>



